@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: "Poppins-Bold";
    font-style: normal;
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Fira Sans Bold';
    font-style: normal;
    src: url('../fonts/Fira_Sans/google-fonts-fira-sans-v17-latin-900-italic-1722909373.woff2');
}

.Poppins-Bold{
    font-family: 'Poppins-Bold';
}

.Fira_Sans{
    font-family: 'Fira sans';
}
html {
    scroll-behavior: smooth; /* Habilita el desplazamiento suave */
}
a{
    cursor: pointer;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
/* VARIABLES  */
:root{
    --rojo: #E2211C;
    --naranja: #FF890A;
    --blanco: #FFFFFF;
    --negro: #000000;
    --general:system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    
}

/* tamaños de letras */
.fs-1{
    font-size: 110px;
}
.fs-2{
    font-size: 64px;
}
.fs-3{
    font-size: 36px;
}

.fs-3{
    font-size: 31px;
}

.fs-40{
    font-size: 40px;
}

/* fonts weigths */
.fw-900{
    font-weight: 900;
}
.fw-800{
    font-weight: 800;
}
.fw-bold{
    font-weight: bold;
}
/* displays */
.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
}

/* positions */
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.position-fixed{
    position: fixed;
}
.position-sticky{
    position: sticky;
}
/* z-index */
.z-1{
    z-index: 1;
}
.z-2{
    z-index: 2;
}
.z-3{
    z-index: 3;
}
/* justifys content */
.justify-content-around{
    justify-content: space-around;
}
.justify-content-start{
    justify-content: flex-start;
}

/* styles text */
.list-style{
list-style: none;
}
.text-decoration{
    text-decoration: none;
}

/* types-text*/
.text-center{
    text-align: center;
}
.text-end{
    text-align: end;
}

/* text-decoration  */
.text-decoration-none{
    text-decoration: none;
}

/* colores */
.blanco{
    color: var(--blanco);
}

.rojo{
    color: var(--rojo);
}
.negro{
    color: var(--negro);
}

/* bolders */
.fw-bold{
    font-weight: bold;
}
.fw-700{
    font-weight: 700;
}

/* heights */
.h-100vh{
    height: 100vh;
}
.h-100{
    height: 100%;
}
.h-auto{
    height: auto;
}
/* widths */
.w-100{
    width: 100%;
}
.mw-1240{
    max-width: 1240px;
}
.w-auto{
    width: auto;
}
/* margins */
.m-auto{
    margin: auto;
}
.m-left{
    margin-left: auto;
}
.m-right{
    margin-right: auto;
}

.mr-10{
    margin-right: 10px;
}

.mb-16{
    margin-bottom: 16px;
}

.mb-33{
    margin-bottom: 33px;
}

.mb-25{
    margin-bottom: 25px;
}

.my-33{
    margin-top: 33px;
}


.my-30{
    margin-top: 30px;
}

/* paddings  */
.pd{
    padding: 120px 20px 60px 20px;
}
.pd-100{
    padding: 100px 20px 100px 20px;
}

.px-10{
    padding-right: 10px;
    padding-left: 10px;
}
.pb-20{
    padding-bottom: 20px;
}

/* flex-dirrections  */
.flex-column{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}

/* gaps  */
.gap-30{
    gap: 30px;
}
.gap-20{
    gap: 20px;
}
.gap-15{
    gap: 15px;
}
.gap-12{
    gap: 12px;
}
.gap-4{
    gap: 4px;
}

/* flex */
.flex-1{
    flex: 1;
}
/* alings  */
.align-items-center{
    align-items: center;
}
.align-content-center{
    align-content: center;
}
/* justifys-content */
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-start{
    justify-content: start;
}
.justify-content-end{
    justify-content: end;
}

                /*=========================================
                =            Estilo del scroll            =
                =========================================*/

                /* width */
                ::-webkit-scrollbar {
                    width: 8px;
                }

                /* button */
                ::-webkit-scrollbar-button {
                    background: #E55000;
                    display: none;
                    width: 0;
                }

                /* Handle */
                ::-webkit-scrollbar-thumb {
                    background: #E55000;
                    border-radius: 8px;
                }

                /* Handle on hover */
                ::-webkit-scrollbar-thumb:hover {
                    background: #FF8B22;
                }

                /* Track */
                ::-webkit-scrollbar-track {
                    background: #232426;
                }

                /* The track NOT covered by the handle. */
                ::-webkit-scrollbar-track-piece {
                    background: #000;
                }

                /* Corner */
                ::-webkit-scrollbar-corner {
                    background: #999;
                }

                /* Resizer */
                ::-webkit-resizer {
                    background: #111;
                }


    /* compras */
    .article-compra{
        padding: 15px;
        background-color: #D2D2D2;
        width: calc(33.33% - 32px * ((3 - 1) / 3));
    }
    .conatainer-compra:last-child{
        margin-top: 30px;
        max-height: 230px;
    }
    .article-compra div a{
        padding: 25px;
    }

/*  menu  */
.contanier-header{
    max-width: 1640px;
    width: 100%;
    margin: auto;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.background{
    background-image: url('../imgs/one-shoot-fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.background h1{
    font-family: var(--general);
    font-size: 49px;
    font-weight: 700;

}

#menu-button{
    max-height: 20px;
    width: 20px;
    height: 20px;
}
.menu-button{
    top: 15px;
    right: 50px;
    display: none;
    z-index: 1;
    background-image: url('../imgs/menu.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.listado{
    margin-left: auto;
    margin-right: 10px;
    max-width: fit-content;
    gap: 50px;
}

.texto-listado{
    line-height: 24px;
    text-shadow: 0px 4px 4px #00000025;
}
.listado> li:first-child{
    display: none;
    padding: 15px;
}


.listado> li:last-child{
    display: none;
}

/* animacion nav  */
.listado li{
    display: flex;
    align-items: center;
    align-content: center;
    padding:8px 16px 8px 16px;
    position: relative;
}
.listado li::before{
    z-index: -1;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    position: absolute;
    height: auto;
    width: 100%;
    transform: scaleX(0);
    opacity: 1;
    border-radius: 3px;
    background-color: #eee;
}
.listado li a:hover{
    transition: all 300ms ease-in-out;
    color: var(--rojo) !important;
}
.listado li:hover::before{
    transform-origin: center;
    transform: scaleX(1);
    transition: transform 600ms ease-in-out;
}
/* logo  */
.logo img:hover{
    transition: all 300ms ease-in-out;
    transform: scale(1.1);
}

/* listado prodcutos  */
/* box-check  */

.menu_check{
    right: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    height:20px;
    cursor: pointer;
}
.nav_link{
    --display-sub:none;
}
/*verifica el checkbox y cambia la variable a grid*/
.nav_link:has(:checked){
--display-sub: flex;
--rotate: 180deg;
    transition: 5s all ease-in;

}
.dropdown{
    width: fit-content;
    margin: auto;
}
/* grio de la fecha  */
.down{
    transform: rotate( var(--rotate));
    transition:  .3s transform ease-in-out;
}

/* estilo del contenedor submenu  */
.submenu{
    top: 0;
    margin-top: 45px;
    display: var(--display-sub); 
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: #51515185;
}
.submenu_list{
    list-style: none;
}
.submenu_list li{
    font-size: 14px;
    margin-bottom: 15px;
    text-shadow: 0px 4px 10px #00000025;
}
.img-producto{
    width: 80px;
    height: auto;
    margin-right: 5px;
}

.btn-compra{
    text-align: center;
    max-width: 179px;
    width: 100%;
    background-color: var(--naranja);
    padding: 11px 24px 11px 24px;
    border-radius: 3px;
    text-shadow: 0px 4px 4px #00000025;
}

.english{
    align-items: center;
    align-content: center;
    text-align: center;
    margin:  16px 0px 16px 0px;
    padding-left: 40px ;
}

.english a{
    text-decoration: none;
    color: #FFFFFF;
}
.english img{
    width: auto;
    height: 11px;
}
.english span{
    margin-left: 5px;
}
/* overlay-nav */
.overlay-nav{
    background-color: #99999985;
    top: 0;
    left: -170%;
    bottom: 0;
    position: fixed;
    z-index: 1;
}

/* animacion listado  */
/* .listado li{
    position: relative;
}


.listado li :hover {
    color: var(--rojo);
}

.listado li :hover::before{
    opacity: 1;
    will-change: transform, opacity;
    background-color: #eee;
}
.listado li::before{
    transform: scaleX(0);
        transform-origin: center;
        inset: 0;
        width: 100%;
        height: 100%;
        border-radius: 6px;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        transition: 300ms transform ease, 300ms opacity ease, 300ms background-color ease;
        pointer-events: none;
        backface-visibility: hidden;
} */

/* one shoot */
main{
    background-image: url('../imgs/one-shoot-fondo.jpg');
}

.one-shoot{
    align-items: flex-start;
    justify-content: center;
    background-size: cover;
    max-width: 1240px;
    height: 100%;
    padding: 120px 20px 60px 20px;
}
main::after{
    content: '';
    width: 100%;
    /* max-width: 100%; */
    display: inline-block;
    overflow-x: hidden;
    height: 284px;
    background-image: url('../imgs/linea-curva.png');
    background-position: right;
    translate: 0 5px;
    position: absolute;
    bottom: 0;

}

.container-shoot{
    flex-wrap: nowrap;
    max-width: 100%;
    position: relative;
    gap: 32px;
    text-align: left;
    max-width: 1200px;
    margin: auto;
}

.conatainer-elementos{
    max-height: 800px;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    gap: 32px;
    columns: 2;
}

.text-shoot{
    height: 760px;
    width: calc(50% - 32px*((2 - 1) / 2));
    z-index: 1;
    max-width: 646px;
    text-align: left;
    margin-top: 10%;
}

.text-letras{
    text-align: left;
    width: fit-content;
    margin: auto;
    text-align: start;
}

.letras-shoot h1{
    font-family: var(--general);
    width: fit-content;
    position: relative;
    z-index: 8;
    font-family: 'Fira Sans Bold';
    font-weight: 900;
    font-size: 49px;
    line-height: 60px ;
    font-style: italic;
    -webkit-text-fill-color: var(--rojo);
    -webkit-text-stroke: 5px #fff;
    paint-order: stroke fill;
    margin-bottom: 25px;

}

.letras-shoot h1::before{
    text-align: left;
    content: attr(data-suffix);
    -webkit-text-fill-color: var(--rojo);
    -webkit-text-stroke: 5px #fff;
    paint-order: stroke fill;
    margin-bottom: 25px;
    position: absolute;
    left: 50%;
    text-shadow: 0px 8px 10px #00000080;
    z-index: -1;
    transform: translateX(-50%);
    width: 100%;
}

.text-shoot p{
    text-align: left;
    font-size: 20px;
    text-shadow: 0px 4px 10px #00000075;
    line-height: 28px;
    margin-bottom: 25px;
}

/* botones */
.conatainer-buttons{
    margin-top: 25px;
    flex-wrap: wrap;
    gap:25px;
}


.conatainer-buttons :first-child a{
    border: solid .8px var(--naranja);
    font-family: 'Poppins-Bold';
    background-color: var(--naranja);
    padding: 14px 24px 14px 24px;
    text-decoration: none;
    color: var(--blanco);
    font-weight: 700;
}

.conatainer-buttons :last-child a{
    border: solid .8px var(--naranja);
    font-family: 'Poppins-Bold';
    background-color: transparent;
    padding: 14px 24px 14px 24px;
    text-decoration: none;
    color: var(--blanco);
    font-weight: 700;
}


#boton-donde:hover{
    background-color:var(--naranja);
}


.imagen-dona{
    width: calc(50% - 32px*((2 - 1) / 2));
    display: flex;
    position: relative;
    align-items: flex-start;
    text-align: left;
}

.imagen-dona img{
    max-width: initial;
    height: 100%;
    text-align: left;
    width: auto;
}


.linea{
    bottom: 0%;
}

.seccion-rojo{
    margin: auto;
    background-color: var(--rojo);
    max-height: 300px;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* container-rojo  */
.container-rojo{
    margin: auto;
    padding: 100px 20px 100px 20px;
    max-width: 1240px;
}

.container-rojo h2{
    margin: auto;
    font-weight: 900;
    font-size: 28px;
    line-height: 1.2;
    font-family: var(--general);
}

/* container productos */
.container-productos{
    padding: 100px 20px 100px 20px;
    max-height: 820px;
    gap: 32px;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 1240px;
    margin: auto;
}
.container-productos>div {
    width: calc(50% - 32px*((2 - 1) / 2));
}
.container-productos div h1{
    font-family: var(--general);
    text-align: left;
    font-size: 30px;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 25px;
    -webkit-text-stroke: 5px #fff;
    -webkit-text-fill-color: var(--rojo);
    paint-order: stroke fill;
    text-align: left;
    line-height: 1.2;
}
.container-productos div h1::before{
    content: attr(data-suffix);
    -webkit-text-fill-color: var(--rojo);
    -webkit-text-stroke: 5px #fff;
    paint-order: stroke fill;
    margin-bottom: 25px;
    position: absolute;
    left: 50%;
    text-shadow: 0px 8px 10px #00000080;
    z-index: -1;
    transform: translateX(-50%);
    width: 100%;
}
.container-productos :nth-child(2) p{
    margin-bottom: 16px;
}

.boton-comprar{
    font-weight: 700;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: var(--blanco);
    width: 100%;
    height: 100%;
    font-family: 'Poppins-Bold';
    max-width: 210px;
    border: solid 1.6px var(--naranja);
    padding: 14px 24px 14px 24px;
    background-color: var(--naranja);
}


.productos article img{
    margin: auto;
    padding: 0px 2px 0px 2px;
    width: 100%;
}

/* footer  */

/* foooter-top */

.back-footer-top{
    max-width: 1920px;
    background-color: var(--rojo);
    color: var(--blanco);
}

.footer-top{
    align-items: flex-start;
    text-align: left;
    padding: 60px 20px 0px 20px;
    max-height: 242px;
    max-width: 1240px;
    width: 100%;
    height: 100vh;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.footer-top :nth-child(4){
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 700;
flex-direction: row;
justify-content: end;
}

.container-foot-top {
    justify-content: flex-start;
    text-align: left;
    align-items: start;
}

.logo-footer{
    margin-bottom: 16px;
}

.info-footer{
    width: calc(50% - 20px*((2 - 1) / 2));
}

.info-footer h3{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin-bottom: 25px;
    text-align: end;
}

.icono{
    justify-content: flex-end;
    width: 30px;
    height: 30px;
}

/* footer bottom  */
.footer-bottom{
    height: 100vh;
    background-color: var(--naranja);
    color: var(--blanco);
    max-height: 63px;
    gap: 40px;
    justify-content: space-between;
}
.footer-bottom div{
    padding: 20px;
    align-items: center;
    max-width: 1240px;
    max-height: 47px;
    height: 100vh;
    margin: auto;
    justify-content: space-between;
}

/* medias-querries */

@media (max-width:1638px) {
    .imagen-dona img {
        height: auto;
        width: 100%;
    }
    .text-shoot{
        margin-top: 0;
        height: auto;
    }
}

@media(max-width: 1390px){
    .texto-listado{
        margin: 0;
        text-align: start;
        color: #000000;
    }
    .img-producto{
        display: none;
    }
    .menu-button{
        z-index: 10;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
    }
    .container-listado{
        top: 0;
        margin: auto;
        position: absolute;
        height: 100vh;
        width: 400px;
        left: -170%;
        background-color: #ffffff;
        transition: all 0.5s ease-in;
    }
    .mostrar{
    transition: all 0.5s ease-in;
    left: 0%;
    }
    .xcambio{
    transition: all 0.3s ease-in;
    animation: cambio .3 ease-in-out;
    background-image: url('../imgs/x.png');
    }
    @keyframes cambio {
        for{
           transform:scale(1);
        }
        to{
            transform:scale(0);
        }
    }

    .english{
        display: none;
    }
    .listado{
        gap: 0;
        align-items: start;
        max-width: 100%;
        position: absolute;
        padding-top: 40px;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        flex-direction: column;
    }
    .listado li{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .listado li a{
        border-top:solid .6px rgb(238, 238, 238) ;
        text-align: left;
        font-weight: 500;
        line-height: 14px;
        padding: 20px;
        font-size: 14px;
        width: 100%;
        text-shadow: 0px 4px 10px #00000025;
    }
    #texto-listado{
        color: black !important;
    }
    .texto-listado{
        width: fit-content;
    }

    .listado> li:first-child {
        justify-content: end;
        display: flex;
    }
    .listado> li:last-child {
        display: flex;
        color: var(--rojo);
    }

    .listado>li:nth-child(2) a{
        color: var(--rojo);
        paint-order:  stroke fill;
        -webkit-text-stroke: 1px #ffffff;
        box-shadow: 0px 4px 4px 0px #FFFFFF25;
    }

    /* Style submenu */
.submenu {
    width: 100%;
    padding: 0px;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    transition:.3s;
    align-items: center;
}
.nav_link{
    flex-direction: column;
}

    .submenu_list{
        position: relative;
        width: 100%;
    align-items: start;
        position: relative;
    }
    .submenu_list li{
        text-align: start;
    border-top:solid .6px rgb(238, 238, 238) ;
    }
    .submenu_list li span{
        width: 100%;
        font-weight: 50;
        padding: 12px 30px 12px 30px;
        font-size: 14px;
        line-height: 14px;
    }
    /* en enlaces de submenus  */
    .dropdown{
        justify-content: space-between;
        color: black;
        margin: 0;
        width: 100%;
        text-align: start;
    }
    .down{
        fill: #000000 !important;
    }

    /* one-shoot */

    .text-shoot p {
        margin-left: 0;
    }

    .conatainer-buttons{
        margin-left: 0px;
    }

    .letras-shoot{
        margin: auto;
        width: fit-content;
    }
    .conatainer-buttons{
        justify-content: center;
    }
    /* productos  */
    .container-productos{
        max-height: max-content;
        height: fit-content;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .footer-top{
        padding: 0px 20px 0px 20px;
    }

    .footer-bottom{
        padding: 0px 20px 0px 20px;
    }

}

@media(max-width: 1050px){
/* compras  */
.conatainer-compra:last-child{
    max-height: max-content;
}

    .conatainer-elementos{
        margin: auto;
        justify-content: center;
    align-items: center;
    }
    .letras-shoot h1::before {
        text-align: center;
    }
    .text-shoot{
        height: auto;
    }
    .imagen-dona{
        height: auto;
    }
    .text-shoot{
        text-align: center;
        margin: auto;
    }
    .conatainer-buttons a:first-child{
        font-size: 16px;
    }
    
    
    .conatainer-buttons a:last-child{
        color: #000;
        font-size: 16px;
    }

    .container-rojo p{
        font-size: 34px;
    }
    .btn-compra{
        display: none;
    }
    .container-productos{
        flex-direction: column;
    }
    .container-productos>div{
        width: 100%;
    }
        /* productos  */

    .productos{
        grid-template-columns: repeat(1, 1fr);
    }
    .productos article{
        max-width: 100%;
    }
    .productos article img{
        height: 188px;
        margin: auto;
        max-width: 236px;
    }

    .link-productos{
        text-decoration: none;
        max-width: 100%;
    }

    /* compras */
    .conatainer-compra{
        flex-direction: column;
    }
    .conatainer-compra:last-child{
        margin-top: 30px;
    } 
    .article-compra{
        width: 100%;
    }
    .article-compra div a img{
    width: auto;
}

}

@media(max-width: 785px){
    .container-shoot{
        flex-direction: row;
    }

    .conatainer-elementos{
        justify-content: center;
        align-items: center;
    }

    .conatainer-elementos{
        flex-direction: column;
    }

    .text-shoot{
        width: 100%;
    }
}

@media(max-width: 580px){
    .container-listado{
        width: 100%;
        z-index: 10;
    }

    .text-shoot{
        text-align: center;
    }
    .container-shoot{
        padding-top: 20%;
    }
.one-shoot{
    background-size: cover;
}

.imagen-dona{
    width: 100%;
}

.container-rojo h2{
    font-size: 18px;
}

.footer-top {
    max-height: fit-content;
    height: 100%;
    align-items: center;
}
.footer-top>div {
    align-items: center;
    flex-direction: column;

}
.info-footer{
    align-items: center;
}

.article-compra div a img{
    width: 100%;
}
}


@media(max-width: 399px){

    .text-shoot {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .letras-shoot{
        align-items: center;
    }
    .letras-shoot{
        margin: 0;
    }

    .letras-shoot h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .text-shoot p{
        font-size: 20px;
    }

    .logo{
        left: 25px;
        right: 0;
    }
    
.conatainer-buttons{
    align-items: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
}
.conatainer-buttons a:first-child {
    font-size: 14px;
}

.conatainer-buttons a:last-child {
    font-size: 14px;
}

.back-footer-top{
    padding-top: 50px;
    
}

.info-footer div{
    justify-content: center;
    text-align: center;
}

.footer-top{
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
}
.footer-bottom{
    height: 100%;
    max-height: 100%;
}
.footer-bottom div{
    max-height:100%;
    text-align: center;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
}

.menu-button{
    right: 20px;
}

}


