@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: "Poppins-Bold";
    font-style: normal;
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Fira Sans Bold';
    font-style: normal;
    src: url('../fonts/Fira_Sans/google-fonts-fira-sans-v17-latin-900-italic-1722909373.woff2');
}

.Poppins-Bold{
    font-family: 'Poppins-Bold';
}

.Fira_Sans{
    font-family: 'Fira sans';
}

html {
    scroll-behavior: smooth; /* Habilita el desplazamiento suave */
}
a{
    cursor: pointer;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
/* VARIABLES  */
:root{
    --rojo: #E2211C;
    --naranja: #FF890A;
    --blanco: #FFFFFF;
    --negro: #000000;
}

/* tamaños de letras */
.fs-1{
    font-size: 110px;
}
.fs-2{
    font-size: 64px;
}
.fs-3{
    font-size: 36px;
}

.fs-3{
    font-size: 31px;
}

/* fonts weigths */
.fw-800{
    font-weight: 800;
}
.fw-bold{
    font-weight: bold;
}
/* displays */
.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
}

/* positions */
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.position-fixed{
    position: fixed;
}
.position-sticky{
    position: sticky;
}
/* z-index */
.z-1{
    z-index: 1;
}
.z-2{
    z-index: 2;
}
.z-3{
    z-index: 3;
}
/* justifys content */
.justify-content-around{
    justify-content: space-around;
}
.justify-content-start{
    justify-content: flex-start;
}

/* styles text */
.list-style{
list-style: none;
}
.text-decoration{
    text-decoration: none;
}

/* types-text*/
.text-center{
    text-align: center;
}
.text-end{
    text-align: end;
}

/* text-decoration  */
.text-decoration-none{
    text-decoration: none;
}

/* colores */
.blanco{
    color: var(--blanco);
}

.rojo{
    color: var(--rojo);
}

.negro{
    color: var(--negro);
}
/* bolders */
.fw-bold{
    font-weight: bold;
}
.fw-700{
    font-weight: 700;
}

/* heights */
.h-100vh{
    height: 100vh;
}
.h-100{
    height: 100%;
}
.h-auto{
    height: auto;
}
/* widths */
.w-100{
    width: 100%;
}
.w-auto{
    width: auto;
}
/* margins */
.m-auto{
    margin: auto;
}
.m-left{
    margin-left: auto;
}
.m-right{
    margin-right: auto;
}

.mr-10{
    margin-right: 10px;
}


.mb-25{
    margin-bottom: 25px;
}

.my-30{
    margin-top: 30px;
}

/* paddings  */
.px-10{
    padding-right: 10px;
    padding-left: 10px;
}
.pb-20{
    padding-bottom: 20px;
}

/* flex-dirrections  */
.flex-column{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}

/* gaps  */
.gap-30{
    gap: 30px;
}
.gap-20{
    gap: 20px;
}
.gap-15{
    gap: 15px;
}
.gap-12{
    gap: 12px;
}
.gap-4{
    gap: 4px;
}

/* flex */
.flex-1{
    flex: 1;
}
/* alings  */
.align-items-center{
    align-items: center;
}
.align-content-center{
    align-content: center;
}
/* justifys-content */
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-start{
    justify-content: start;
}
.justify-content-end{
    justify-content: end;
}

                /*=========================================
                =            Estilo del scroll            =
                =========================================*/

                /* width */
                ::-webkit-scrollbar {
                    width: 8px;
                }

                /* button */
                ::-webkit-scrollbar-button {
                    background: #E55000;
                    display: none;
                    width: 0;
                }

                /* Handle */
                ::-webkit-scrollbar-thumb {
                    background: #E55000;
                    border-radius: 8px;
                }

                /* Handle on hover */
                ::-webkit-scrollbar-thumb:hover {
                    background: #FF8B22;
                }

                /* Track */
                ::-webkit-scrollbar-track {
                    background: #232426;
                }

                /* The track NOT covered by the handle. */
                ::-webkit-scrollbar-track-piece {
                    background: #000;
                }

                /* Corner */
                ::-webkit-scrollbar-corner {
                    background: #999;
                }

                /* Resizer */
                ::-webkit-resizer {
                    background: #111;
                }

/*  menu  */
.contanier-header{
    max-width: 1640px;
    width: 100%;
    margin: auto;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}
#menu-button{
    max-height: 20px;
    width: 20px;
    z-index: auto;
    height: 20px;
}
.menu-button{
    top: 15px;
    right: 50px;
    display: none;
    background-image: url('../imgs/menu.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.listado{
    margin-left: auto;
    margin-right: 10px;
    max-width: fit-content;
    gap: 50px;
}

.texto-listado{
    line-height: 24px;
    text-shadow: 0px 4px 4px #00000025;
}
.listado> li:first-child{
    display: none;
    padding: 15px;
}

.listado>li:nth-child(2) a{
    line-height: 24px;
    fill: var(--rojo);
    -webkit-text-stroke: 3px var(--blanco);
    paint-order: stroke fill;
    text-shadow: 0px 4px 10px #FFFFFF25;
}

.listado> li:last-child{
    display: none;
}

/* listado prodcutos  */
/* box-check  */

.menu_check{
    right: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    height:20px;
    cursor: pointer;
}
.nav_link{
    --display-sub:none;
}
/*verifica el checkbox y cambia la variable a grid*/
.nav_link:has(:checked){
--display-sub: flex;
--rotate: 180deg;
    transition: 5s all ease-in;

}
.dropdown{
    width: fit-content;
    margin: auto;
}
/* grio de la fecha  */
.down{
    transform: rotate( var(--rotate));
    transition:  .3s transform ease-in-out;
}

/* estilo del contenedor submenu  */
.submenu{
    top: 0;
    margin-top: 45px;
    display: var(--display-sub); 
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: #51515185;
}
.submenu_list{
    list-style: none;
}
.submenu_list li{
    font-size: 14px;
    margin-bottom: 15px;
    text-shadow: 0px 4px 10px #00000025;
}
.img-producto{
    width: 80px;
    height: auto;
    margin-right: 5px;
}

.btn-compra{
    text-align: center;
    max-width: 179px;
    width: 100%;
    background-color: var(--naranja);
    padding: 11px 24px 11px 24px;
    border-radius: 3px;
    text-shadow: 0px 4px 4px #00000025;
}

.english{
    align-items: center;
    align-content: center;
    text-align: center;
    margin:  16px 0px 16px 0px;
    padding-left: 40px ;
}

.english a{
    text-decoration: none;
    color: #FFFFFF;
}
.english img{
    width: auto;
    height: 11px;
}
.english span{
    margin-left: 5px;
}

/* animacion nav  */
.listado li{
    display: flex;
    align-items: center;
    align-content: center;
    padding:8px 16px 8px 16px;
    position: relative;
}
.listado li::before{
    z-index: -1;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    position: absolute;
    height: auto;
    width: 100%;
    transform: scaleX(0);
    opacity: 1;
    border-radius: 3px;
    background-color: #eee;
}
.listado li a:hover{
    transition: all 300ms ease-in-out;
    color: var(--rojo);
}
.listado li:hover::before{
    transform-origin: center;
    transform: scaleX(1);
    transition: transform 600ms ease-in-out;
}

@keyframes anchura {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

/* overlay-nav */
.overlay-nav{
    background-color: #99999985;
    top: 0;
    left: -170%;
    bottom: 0;
    position: fixed;
    z-index: 1;
}

/* logo  */
.logo img:hover{
    transition: all 300ms ease-in-out;
    transform: scale(1.1);
}

/* one shoot */
main{
    background-image: url('../imgs/one-shoot-fondo.jpg');
}

.one-shoot{
    align-items: flex-start;
    justify-content: center;
    background-size: cover;
    max-width: 1240px;
    height: 100%;
    padding: 120px 20px 60px 20px;
}
main::after{
    content: '';
    width: 100%;
    /* max-width: 100%; */
    display: inline-block;
    overflow-x: hidden;
    height: 284px;
    background-image: url('../imgs/linea-curva.png');
    background-position: right;
    translate: 0 5px;
    position: absolute;
    bottom: 0;

}

.container-shoot{
    flex-wrap: nowrap;
    max-width: 100%;
    position: relative;
    gap: 32px;
    text-align: left;
    max-width: 1200px;
    margin: auto;
}

.conatainer-elementos{
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    align-items: center;
    gap: 32px;
    columns: 2;
}

.text-shoot{
    width: calc(50% - 32px*((2 - 1) / 2));
    z-index: 1;
    max-width: 646px;
    text-align: start;
}

.text-letras{
    text-align: left;
    width: fit-content;
    margin: auto;
    text-align: start;
}

.letras-shoot div:nth-child(1){
    width: fit-content;
    position: relative;
    z-index: 8;
    font-family: 'Fira Sans Bold';
    font-weight: 900;
    line-height: 50px ;
    font-style: italic;
    -webkit-text-fill-color: var(--rojo);
    -webkit-text-stroke: 20px #fff;
    paint-order: stroke fill;
}
.letras-shoot div:nth-child(2){
    font-weight: 900;
    width: fit-content;
    font-family: 'Fira Sans Bold';
    font-style: italic;
    line-height: 90px;
    -webkit-text-fill-color: var(--rojo);
    -webkit-text-stroke: 45px #fff;
    paint-order: stroke fill;
}
.letras-shoot div:nth-child(3){
    margin-left: -32px;
    font-weight: 900;
    width: fit-content;
    font-family: 'Fira Sans Bold';
    line-height: 110px;
    font-style: italic;
    -webkit-text-fill-color: var(--rojo);
    -webkit-text-stroke: 45px #fff;
    paint-order: stroke fill;
}
.text-shoot p{
    margin-left: -74px;
    margin-top: 35px;
    text-shadow: 0px 4px 4px #00000025;
    line-height: 80px;
}

/* botones */
.conatainer-buttons{
    margin-left: -73px;
    margin-top: 25px;
    flex-wrap: wrap;
    gap:25px;
}
.conatainer-buttons a:first-child{
    font-family: 'Poppins-Bold';
    max-width: 276px;
    border-radius: 5px;
    padding: 11px 24px 11px 24px;
    background-color: var(--naranja);
    border-color: var(--rojo);
}


.conatainer-buttons a:last-child{
    font-family: 'Poppins-Bold';
    max-width: 210px;
    border: solid var(--naranja);
    border-radius: 3px;
    padding: 11px 24px 11px 24px;
}
.imagen-dona{
    width: calc(50% - 32px*((2 - 1) / 2));
    display: flex;
    position: relative;
    align-items: flex-start;
    text-align: left;
}

.imagen-dona img{
    max-width: initial;
    height: auto;
    text-align: left;
    width: 791px;
}


.linea{
    bottom: 0%;
}

/* container-rojo  */
.container-rojo{
    font-weight: 800;
    font-size: 36px;
    background-color: var(--rojo);
    max-height: 269px;
    height: 100vh;
    max-width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.container-rojo p{
    font-family: 'Fira Sans Bold';
}

/* container productos */
.container-productos{
    padding: 100px 20px 100px 20px;
    max-height: 820px;
    height: 100vh;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.container-tamano-productos{
    max-width: 1200px;
    margin: auto;

}
.container-tamano-productos>p{
    font-weight: 900;
    font-style: italic;
    font-family: 'Fira Sans Bold';
    -webkit-text-fill-color: var(--rojo);
    -webkit-text-stroke: 5px white;
    paint-order: stroke fill;
    margin-bottom: 50px;
}
.container-tamano-productos>p::before{
    width: 100%;
    content: "NUESTROS PRODUCTOS";
    position: absolute;
    left: 50%;
    text-shadow: 0px 8px 10px #00000080;
    z-index: -1;
    transform: translateX(-50%);
}


.productos{
    grid-template-columns: repeat(5, 1fr);
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.productos article{
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 100vh;
    max-width: 232px;
    max-height: 399px;
    flex-direction: column;
    border: solid 2px #FF890A;
    box-shadow: 1px 5px 58px 0px #00000025;
    transition: all 100ms ease-in-out;
}

.productos article:hover{
    transform: scale(1.1);
}

.productos article p{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: black;
    cursor: pointer;
    line-height: 20px;
}

.productos article img{
    margin: auto;
    padding: 0px 2px 0px 2px;
    width: 100%;
}
.boton-producto{
    background-color: var(--naranja);
    text-align: center;
    width: 100%;
    max-height: 47px;
    padding: 11px 24px 11px 24px;
}
.boton-producto a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

/* footer  */

/* foooter-top */

.back-footer-top{
    max-width: 1920px;
    background-color: var(--rojo);
    color: var(--blanco);
}

.footer-top{
    align-items: flex-start;
    text-align: left;
    padding: 60px 20px 0px 20px;
    max-height: 242px;
    max-width: 1240px;
    width: 100%;
    height: 100vh;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.footer-top :nth-child(4){
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 700;
flex-direction: row;
justify-content: end;
}

.container-foot-top {
    justify-content: flex-start;
    text-align: left;
    align-items: start;
}

.logo-footer{
    margin-bottom: 16px;
}

.info-footer{
    width: calc(50% - 20px*((2 - 1) / 2));
}

.info-footer h3{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin-bottom: 25px;
    text-align: end;
}

.icono{
    justify-content: flex-end;
    width: 30px;
    height: 30px;
}

/* footer bottom  */
.footer-bottom{
    height: 100vh;
    background-color: var(--naranja);
    color: var(--blanco);
    max-height: 63px;
    gap: 40px;
    justify-content: space-between;
}
.footer-bottom div{
    padding: 20px;
    align-items: center;
    max-width: 1240px;
    max-height: 47px;
    height: 100vh;
    margin: auto;
    justify-content: space-between;
}

@media (max-width:1638px) {
    .imagen-dona img {
        width: 100%;
    }
}

@media(max-width: 1390px){
    .texto-listado{
        margin: 0;
        text-align: start;
        color: #000000;
    }
    .img-producto{
        display: none;
    }
    .menu-button{
        z-index: 10;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
    }
    .container-listado{
        top: 0;
        margin: auto;
        position: absolute;
        height: 100vh;
        width: 400px;
        left: -170%;
        background-color: #ffffff;
        transition: all 0.5s ease-in;
    }
    .mostrar{
    transition: all 0.5s ease-in;
    left: 0%;
    }
    .xcambio{
    transition: all 0.3s ease-in;
    animation: cambio .3 ease-in-out;
    background-image: url('../imgs/x.png');
    }
    @keyframes cambio {
        for{
           transform:scale(1);
        }
        to{
            transform:scale(0);
        }
    }

    .english{
        display: none;
    }
    .listado{
        gap: 0;
        align-items: start;
        max-width: 100%;
        position: absolute;
        padding-top: 40px;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        flex-direction: column;
    }
    .listado li{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .listado li a{
        border-top:solid .6px rgb(238, 238, 238) ;
        text-align: left;
        font-weight: 500;
        line-height: 14px;
        padding: 20px;
        font-size: 14px;
        width: 100%;
        text-shadow: 0px 4px 10px #00000025;
    }
    #texto-listado{
        color: black !important;
    }
    .texto-listado{
        width: fit-content;
    }

    .listado> li:first-child {
        justify-content: end;
        display: flex;
    }
    .listado> li:last-child {
        display: flex;
        color: var(--rojo);
    }

    .listado>li:nth-child(2) a{
        color: var(--rojo);
        paint-order:  stroke fill;
        -webkit-text-stroke: 1px #ffffff;
        box-shadow: 0px 4px 4px 0px #FFFFFF25;
    }

    /* Style submenu */
.submenu {
    width: 100%;
    padding: 0px;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    transition:.3s;
    align-items: center;
}
.nav_link{
    flex-direction: column;
}

    .submenu_list{
        position: relative;
        width: 100%;
    align-items: start;
        position: relative;
    }
    .submenu_list li{
        text-align: start;
    border-top:solid .6px rgb(238, 238, 238) ;
    }
    .submenu_list li span{
        width: 100%;
        font-weight: 50;
        padding: 12px 30px 12px 30px;
        font-size: 14px;
        line-height: 14px;
    }
    /* en enlaces de submenus  */
    .dropdown{
        justify-content: space-between;
        color: black;
        margin: 0;
        width: 100%;
        text-align: start;
    }
    .down{
        fill: #000000 !important;
    }

    /* one-shoot */
    .letras-shoot div:nth-child(1){
        font-size: 44px;
        line-height: 60px;
    }

    .letras-shoot div:nth-child(2){
        font-size: 80px;
        line-height: 80px;
    }
    .letras-shoot div:nth-child(3){
        font-size: 64px;
        line-height: 80px;
    }

    .text-shoot p {
        margin-left: 0;
    }

    .conatainer-buttons{
        margin-left: 0px;
    }

    .letras-shoot{
        margin: auto;
        width: fit-content;
    }
    .conatainer-buttons{
        justify-content: center;
    }
    /* productos  */
    .container-productos{
        max-height: max-content;
        height: fit-content;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .footer-top{
        padding: 0px 20px 0px 20px;
    }

    .footer-bottom{
        padding: 0px 20px 0px 20px;
    }

}

@media(max-width: 1050px){
    .conatainer-elementos{
        margin: auto;
        flex-direction: column;
    }
    .text-shoot{
        text-align: center;
        width: 100%;
    }
    .conatainer-buttons a:first-child{
        font-size: 16px;
    }
    
    
    .conatainer-buttons a:last-child{
        font-size: 16px;
    }

    .container-rojo p{
        font-size: 34px;
    }
    .btn-compra{
        display: none;
    }
    .productos{
        grid-template-columns: repeat(1, 1fr);
    }
    .productos article{
        max-width: 100%;
    }
    .productos article img{
        height: 188px;
        margin: auto;
        max-width: 236px;
    }

    .link-productos{
        text-decoration: none;
        max-width: 100%;
    }

}

@media(max-width: 580px){
    .container-listado{
        width: 100%;
        z-index: 10;
    }
    
    .text-shoot{
        text-align: center;
    }

.one-shoot{
    background-size: cover;
}
.letras-shoot div:nth-child(1){
    font-size: 34px;
    line-height: 40px;
}

.letras-shoot div:nth-child(2){
    font-size: 50px;
    line-height: 60px;
}
.letras-shoot div:nth-child(3){
    font-size: 50px;
    line-height: 60px;
}

.container-rojo p{
    font-size: 24px;
}

.container-productos p{
    font-size: 30px;
}
.productos article p{
    margin: auto;
    font-size: 18px;
}

.footer-top {
    max-height: fit-content;
    height: 100%;
    align-items: center;
}
.footer-top>div {
    align-items: center;
    flex-direction: column;

}
.info-footer{
    align-items: center;
}



}
@media(max-width: 399px){

    .text-shoot {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .letras-shoot{
        align-items: center;
    }
    .letras-shoot{
        margin: 0;
    }


    .logo{
        left: 25px;
        right: 0;
    }
    
.conatainer-buttons{
    align-items: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
}

.letras-shoot div:nth-child(1){
    font-size: 44px;
    line-height: 80px;
}

.letras-shoot div:nth-child(2){
    font-size: 60px;
    line-height: 60px;
}
.letras-shoot div:nth-child(3){
    font-size: 44px;
    line-height: 60px;
}
.text-shoot p:nth-child(4){
    font-size: 20px;
    line-height: 60px;
}
.text-shoot p {
    font-size: 22px;
}

.imagen-dona{
    width: 100%;
    margin: auto;
}
footer{
    margin-top: 50px;
    
}

.info-footer div{
    justify-content: center;
    text-align: center;
}

.footer-top{
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
}
.footer-bottom{
    height: 100%;
    max-height: 100%;
}
.footer-bottom div{
    max-height:100%;
    text-align: center;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
}

.menu-button{
    right: 20px;
}

}


